!xterm config
*.termName: xterm-256color
*locale: UTF-8
*.vt100.utf8: true
*.vt100.saveLines: 4096
*.vt100.selectToClipboard: true
*.vt100.faceName: MesloLGS NF
*.vt100.faceSize: 10
!keycode 22
!*.vt100.translations: #override \
!    Ctrl<Key>BackSpace: string("\033[7;5~")

! theam
*foreground: green
*background: black
