#![enable(implicit_some)]
(
  modkey: "Mod4",
  layout_mode: Tag,
  tags: ["1", "2", "3", "4", "5", "6", "7", "8", "9"],
  workspaces: [],
  layouts: [
      "MainAndVertStack",
      "MainAndDeck",
      "Monocle",
  ],
  keybind: [
    (
      command: HardReload, 
      modifier: ["modkey", "Control"],
      key: "b",
    ),
    (
      command: SoftReload, 
      modifier: ["modkey", "Control"],
      key: "r",
    ),
    (
      command: CloseWindow,
      modifier: ["modkey"],
      key: "q",
    ),
    (
      command: Execute,
      value: "st",
      modifier: ["modkey"],
      key: "Return",
    ),
    (
      command: Execute, 
      value: "librewolf",
      modifier: ["modkey"], 
      key: "w",
    ),
    (
      command: Execute, 
      value: "rofi -show run",
      modifier: ["modkey"], 
      key: "d", 
    ),
    (
      command: ToggleFloating,
      modifier: ["modkey", "Shift"],
      key: "space",
    ),
    (
    command: FocusWindowUp,
    modifier: ["modkey"],
    key: "k",
    ),
    (
    command: FocusWindowDown,
    modifier: ["modkey"],
    key: "j",
    ),
    (
    command: MoveWindowUp,
    modifier: ["modkey", "Shift"],
    key: "k",
    ),
    (
    command: MoveWindowDown,
    modifier: ["modkey", "Shift"],
    key: "j",
    ),
    (
    command: SwapWindowTop,
    modifier: ["modkey"],
    key: "space",
    ),
    (
    command: NextLayout,
    modifier: ["modkey", "Control"],
    key: "Up",
    ),
    (
    command: IncreaseMainWidth,
    value: "5",
    modifier: ["modkey"],
    key: "l"
    ),
    (
    command: DecreaseMainWidth,
    value: "5",
    modifier: ["modkey"],
    key: "h"
    ),
    (
    command: ToggleFullScreen,
    modifier: ["modkey"],
    key: "f"
    ),
    (
    command: ToggleSticky,
    modifier: ["modkey"],
    key: "v"
    ),
    (
    command: ToggleScratchPad,
    value: "St" /* Name set for the scratchpad */,
    modifier: ["modkey"],
    key: "p"
    ),
    (
    command: GotoTag, value: "1", modifier: ["modkey"], key: "1"
    ),
    (
    command: GotoTag, value: "2", modifier: ["modkey"], key: "2"
    ),
    (
    command: GotoTag, value: "3", modifier: ["modkey"], key: "3"
    ),
    (
    command: GotoTag, value: "4", modifier: ["modkey"], key: "4"
    ),
    (
    command: GotoTag, value: "5", modifier: ["modkey"], key: "5"
    ),
    (
    command: GotoTag, value: "6", modifier: ["modkey"], key: "6"
    ),
    (
    command: GotoTag, value: "7", modifier: ["modkey"], key: "7"
    ),
    (
    command: GotoTag, value: "8", modifier: ["modkey"], key: "8"
    ),
    (
    command: GotoTag, value: "9", modifier: ["modkey"], key: "9"
    ),
    (
    command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1",
    ),
    (
    command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2",
    ),
    (
    command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3",
    ),
    (
    command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4",
    ),
    (
    command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5",
    ),
    (
    command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6",
    ),
    (
    command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7",
    ),
    (
    command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8",
    ),
    (
    command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9",
    ),
  ],
  scratchpad: [
    ( 
        name: "St", // This is the name which is referenced when calling (case-sensitive)
        value: "st", // The command to load the application if it isn't started (first application to start)
        // x, y, width, height are in pixels when an integer is inputted or a percentage when a float is inputted.
        // These values are relative to the size of the workspace, and will be restricted depending on the workspace size.
        x: 680, y: 320, height: 400, width: 400 
    ),
  ],
  layout_definitions: [
      (name: "EvenHorizontal", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: Vertical), second_stack: None)),
      (name: "EvenVertical", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: Horizontal), second_stack: None)),
      (name: "Monocle", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: None), second_stack: None)),
      (name: "Grid", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: Grid), second_stack: None)),
      (name: "MainAndVertStack", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Horizontal), second_stack: None)),
      (name: "MainAndHorizontalStack", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Vertical), second_stack: None)),
      (name: "RightMainAndVertStack", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: South, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Horizontal), second_stack: None)),
      (name: "Fibonacci", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Fibonacci), second_stack: None)),
      (name: "Dwindle", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Dwindle), second_stack: None)),
      (name: "MainAndDeck", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: None), stack: (flip: None, rotate: North, split: None), second_stack: None)),
      (name: "CenterMain", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: None), second_stack: (flip: None, rotate: North, split: Horizontal))),
      (name: "CenterMainBalanced", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Dwindle), second_stack: (flip: None, rotate: North, split: Dwindle))),
      (name: "CenterMainFluid", flip: None, rotate: North, reserve: Reserve, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: None), second_stack: (flip: None, rotate: North, split: Horizontal))),
  ],
)
