#!/usr/bin/env xdg-open
[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=jsonPreviewer
# A comment which can/will be used as a tooltip
#Comment=language learning with texts
# The executable of the application, possibly with arguments.
Exec=/usr/local/bin/st -e jq-previewer %f
#Exec=echo %
MimeType=application/json;
# Describes whether this application needs to be run in a terminal or not
