#!/usr/bin/env xdg-open
[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=mtk gui
# A comment which can/will be used as a tooltip
Comment=android
# The executable of the application, possibly with arguments.
Exec=/home/qq/.local/bin/mtk-gui-open
# Describes whether this application needs to be run in a terminal or not
Terminal=false
